<h1>Books</h1>

<% @books.each do |book| %>

  <p>Title</p>
  <span><%= book.title %></span>

  <p>Body</p>
  <span><%= book.body %></span>
  
<span>
  <%= link_to "show",show_path(book.id) %>
</span>

<%= link_to 'Edit',edit_book_path(book.id) %>
<%= link_to 'Destroy',destroy_book_path(book.id) %>,method: :delete,"data confirm" => "本当に削除しますか？" %>

<% end %>

<h2>New book</h2>

<% if @book.errors.any? %>
  <%= @book.errors.count %>件のエラーが発生しました
  <ul>
    <% @book.errors.full_messages.each do |message| %>
     <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: @book do |f| %>
  <h4>title</h4>
  <%= f.text_field :title %>
  
  <h4>body</h4>
  <%= f.text_area :body %>
  
  <%= f.submit 'Create Book' %>
<% end %>