<%= flash[:notice] %>
<%= flash[:danger] %>

<h1>Books</h1>

<% @books.each do |book| %>
  <table>
    <thead>
      <tr>
        <th>Title</th>
           <span><%= book.title %></span>
        <th>Body</th>
           <span><%= book.body %></span>
     </tr>
    </thead>

<span>
  <%= link_to "show",book_path(book.id) %>
</span>

<%= link_to 'Edit',edit_book_path(book.id) %>
<%= link_to 'Destroy',book_path(book.id),method: :delete, data: {confirm: "本当に削除しますか？"} %>

<% end %>
  </table>
<h2>New book</h2>

<% if @book.errors.any? %>
  <%= @book.errors.count %>件のエラーが発生しました
  <ul>
    <% @book.errors.full_messages.each do |message| %>
     <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: @book ,url: books_path(@book.id) do |f| %>
  <h4>title</h4>
  <%= f.text_field :title %>

  <h4>body</h4>
  <%= f.text_area :body %>

  <%= f.submit 'Create Book' %>

<% end %>